.dropdowntoggel{
    cursor: pointer;
}

.zoom:hover {
    transform : scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

img {
    max-height: 50px;
    display: inline;
    border: 1px solid white;
}